# I will be transforming the data to the get the average home pricing for each state

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
#reading in the csv
zillow_df = pd.read_csv('zillow.csv')
zillow_df

,RegionID,SizeRank,RegionName,RegionType,StateName,2000-01-31,2000-02-29,2000-03-31,2000-04-30,2000-05-31,...,2021-01-31,2021-02-28,2021-03-31,2021-04-30,2021-05-31,2021-06-30,2021-07-31,2021-08-31,2021-09-30,2021-10-31
0,102001,0,United States,Country,NaN,127202.0,127546.0,127908.0,128645.0,129389.0,...,271623.0,274979.0,278635.0,282495.0,287202.0,292730.0,298613.0,304008.0,308632.0,312728.0
1,394913,1,"New York, NY",Msa,NY,224341.0,225681.0,226887.0,229261.0,231472.0,...,516687.0,521426.0,525792.0,530533.0,536044.0,543211.0,551142.0,558738.0,564641.0,569191.0
2,753899,2,"Los Angeles-Long Beach-Anaheim, CA",Msa,CA,231193.0,231998.0,233231.0,235576.0,238089.0,...,741209.0,748698.0,756569.0,767615.0,783282.0,803090.0,823992.0,837437.0,846549.0,851308.0
3,394463,3,"Chicago, IL",Msa,IL,170104.0,170505.0,171024.0,172064.0,173166.0,...,258211.0,260534.0,262648.0,265690.0,268442.0,272263.0,276430.0,280547.0,283620.0,286280.0
4,394514,4,"Dallas-Fort Worth, TX",Msa,TX,130035.0,130139.0,130225.0,130437.0,130658.0,...,276637.0,280005.0,284015.0,289524.0,295921.0,303225.0,311010.0,318887.0,326057.0,332118.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
903,394767,929,"Lamesa, TX",Msa,TX,NaN,NaN,NaN,NaN,NaN,...,81702.0,82847.0,84199.0,84499.0,84998.0,85445.0,86421.0,87549.0,88609.0,89544.0
904,753874,930,"Craig, CO",Msa,CO,94741.0,95085.0,95668.0,96360.0,97075.0,...,NaN,214132.0,219224.0,223021.0,226345.0,229787.0,232861.0,236543.0,239833.0,242809.0
905,394968,931,"Pecos, TX",Msa,TX,NaN,NaN,NaN,NaN,NaN,...,136993.0,139388.0,141606.0,143469.0,145612.0,147618.0,150033.0,155032.0,159714.0,164353.0
906,395188,932,"Vernon, TX",Msa,TX,NaN,NaN,NaN,NaN,NaN,...,NaN,70218.0,71261.0,71623.0,72008.0,72666.0,73363.0,73961.0,74432.0,74762.0
907,394743,933,"Ketchikan, AK",Msa,AK,NaN,NaN,NaN,NaN,NaN,...,321416.0,322965.0,325062.0,327187.0,329357.0,330905.0,332472.0,334200.0,336433.0,338383.0

In [3]:
#transformation 1 - removing unnecessary columns
zillow_df = zillow_df.drop(['SizeRank', 'RegionID', 'RegionName', 'RegionType'], 1)
zillow_df

,StateName,2000-01-31,2000-02-29,2000-03-31,2000-04-30,2000-05-31,2000-06-30,2000-07-31,2000-08-31,2000-09-30,...,2021-01-31,2021-02-28,2021-03-31,2021-04-30,2021-05-31,2021-06-30,2021-07-31,2021-08-31,2021-09-30,2021-10-31
0,NaN,127202.0,127546.0,127908.0,128645.0,129389.0,130130.0,130886.0,131692.0,132515.0,...,271623.0,274979.0,278635.0,282495.0,287202.0,292730.0,298613.0,304008.0,308632.0,312728.0
1,NY,224341.0,225681.0,226887.0,229261.0,231472.0,233825.0,236298.0,238858.0,241425.0,...,516687.0,521426.0,525792.0,530533.0,536044.0,543211.0,551142.0,558738.0,564641.0,569191.0
2,CA,231193.0,231998.0,233231.0,235576.0,238089.0,240463.0,242893.0,245444.0,247874.0,...,741209.0,748698.0,756569.0,767615.0,783282.0,803090.0,823992.0,837437.0,846549.0,851308.0
3,IL,170104.0,170505.0,171024.0,172064.0,173166.0,174257.0,175465.0,176820.0,178221.0,...,258211.0,260534.0,262648.0,265690.0,268442.0,272263.0,276430.0,280547.0,283620.0,286280.0
4,TX,130035.0,130139.0,130225.0,130437.0,130658.0,130843.0,131042.0,131408.0,131862.0,...,276637.0,280005.0,284015.0,289524.0,295921.0,303225.0,311010.0,318887.0,326057.0,332118.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
903,TX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,81702.0,82847.0,84199.0,84499.0,84998.0,85445.0,86421.0,87549.0,88609.0,89544.0
904,CO,94741.0,95085.0,95668.0,96360.0,97075.0,97615.0,98709.0,99382.0,99515.0,...,NaN,214132.0,219224.0,223021.0,226345.0,229787.0,232861.0,236543.0,239833.0,242809.0
905,TX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,136993.0,139388.0,141606.0,143469.0,145612.0,147618.0,150033.0,155032.0,159714.0,164353.0
906,TX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,70218.0,71261.0,71623.0,72008.0,72666.0,73363.0,73961.0,74432.0,74762.0
907,AK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,321416.0,322965.0,325062.0,327187.0,329357.0,330905.0,332472.0,334200.0,336433.0,338383.0

In [4]:
#transformation 2 - removing rows with NaN values
zillow_df = zillow_df.dropna(axis=0)
zillow_df

,StateName,2000-01-31,2000-02-29,2000-03-31,2000-04-30,2000-05-31,2000-06-30,2000-07-31,2000-08-31,2000-09-30,...,2021-01-31,2021-02-28,2021-03-31,2021-04-30,2021-05-31,2021-06-30,2021-07-31,2021-08-31,2021-09-30,2021-10-31
1,NY,224341.0,225681.0,226887.0,229261.0,231472.0,233825.0,236298.0,238858.0,241425.0,...,516687.0,521426.0,525792.0,530533.0,536044.0,543211.0,551142.0,558738.0,564641.0,569191.0
2,CA,231193.0,231998.0,233231.0,235576.0,238089.0,240463.0,242893.0,245444.0,247874.0,...,741209.0,748698.0,756569.0,767615.0,783282.0,803090.0,823992.0,837437.0,846549.0,851308.0
3,IL,170104.0,170505.0,171024.0,172064.0,173166.0,174257.0,175465.0,176820.0,178221.0,...,258211.0,260534.0,262648.0,265690.0,268442.0,272263.0,276430.0,280547.0,283620.0,286280.0
4,TX,130035.0,130139.0,130225.0,130437.0,130658.0,130843.0,131042.0,131408.0,131862.0,...,276637.0,280005.0,284015.0,289524.0,295921.0,303225.0,311010.0,318887.0,326057.0,332118.0
5,PA,129808.0,130243.0,130505.0,131154.0,131680.0,132274.0,132820.0,133401.0,134046.0,...,277412.0,280529.0,283627.0,286951.0,291300.0,296131.0,300660.0,304281.0,307143.0,309597.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
871,OK,65192.0,64921.0,64875.0,64753.0,64811.0,64828.0,64878.0,64753.0,64725.0,...,113073.0,112195.0,111512.0,112430.0,113522.0,116771.0,119689.0,122682.0,123241.0,123974.0
884,IA,70406.0,70669.0,70827.0,71218.0,71496.0,71703.0,71911.0,72080.0,72371.0,...,129849.0,130699.0,131744.0,132088.0,133051.0,134053.0,134996.0,135902.0,137116.0,137863.0
885,OK,58325.0,58372.0,58412.0,58530.0,58644.0,58758.0,58910.0,59046.0,59305.0,...,110379.0,111527.0,113083.0,114140.0,114990.0,115825.0,116762.0,117534.0,118184.0,118771.0
890,GA,50052.0,49802.0,49748.0,49506.0,49441.0,49383.0,49668.0,49926.0,50172.0,...,82835.0,83817.0,85050.0,85737.0,86752.0,87804.0,88761.0,89351.0,89937.0,90355.0
897,MA,337831.0,339757.0,341257.0,345472.0,350077.0,355569.0,360720.0,365553.0,370173.0,...,914873.0,930258.0,946896.0,958392.0,969108.0,981695.0,995819.0,1010594.0,1024028.0,1035468.0

In [6]:
#transformation 3 - sorting column "StateName" into ascending order
zillow_df = zillow_df.sort_values("StateName", ascending=True)
zillow_df

,StateName,2000-01-31,2000-02-29,2000-03-31,2000-04-30,2000-05-31,2000-06-30,2000-07-31,2000-08-31,2000-09-30,...,2021-01-31,2021-02-28,2021-03-31,2021-04-30,2021-05-31,2021-06-30,2021-07-31,2021-08-31,2021-09-30,2021-10-31
133,AK,144803.0,145008.0,145174.0,145313.0,145585.0,145692.0,146121.0,146116.0,146323.0,...,318139.0,318885.0,318382.0,318027.0,319322.0,319754.0,320309.0,322165.0,324000.0,325833.0
228,AL,128167.0,128462.0,128747.0,129281.0,129672.0,129971.0,130292.0,130791.0,131559.0,...,246992.0,249872.0,252151.0,255608.0,259193.0,265509.0,271196.0,277172.0,283551.0,290303.0
137,AL,111983.0,112095.0,112128.0,112248.0,112387.0,112618.0,112840.0,113069.0,113371.0,...,148757.0,150048.0,151085.0,152270.0,153768.0,156036.0,158502.0,161182.0,163200.0,165145.0
648,AL,36017.0,36078.0,36130.0,36329.0,36501.0,36649.0,36677.0,36764.0,36873.0,...,60238.0,60769.0,61460.0,61869.0,62127.0,62307.0,62575.0,63068.0,63727.0,64052.0
191,AL,111624.0,111853.0,112189.0,112626.0,112940.0,113103.0,113474.0,113980.0,114470.0,...,178784.0,180064.0,181534.0,183416.0,185353.0,187428.0,189595.0,192308.0,194628.0,196713.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,WV,59470.0,59536.0,59561.0,59597.0,59666.0,59873.0,59978.0,60061.0,60085.0,...,100761.0,101976.0,103128.0,103942.0,104738.0,105609.0,106286.0,106965.0,107648.0,108392.0
735,WV,30421.0,30591.0,30690.0,30824.0,31022.0,31124.0,31303.0,31292.0,31513.0,...,71607.0,71895.0,72385.0,72768.0,73314.0,73430.0,73922.0,74435.0,75363.0,76082.0
363,WV,49016.0,48986.0,49070.0,49214.0,49403.0,49585.0,49926.0,50252.0,50547.0,...,83132.0,83795.0,84544.0,85170.0,85730.0,86229.0,86680.0,87225.0,87854.0,88401.0
144,WV,64906.0,64944.0,65063.0,65284.0,65620.0,65852.0,66065.0,66307.0,66611.0,...,109134.0,110215.0,111363.0,112131.0,112859.0,113672.0,114431.0,115245.0,115921.0,116593.0
395,WV,55216.0,55356.0,55507.0,55685.0,55836.0,55958.0,56089.0,56184.0,56265.0,...,107972.0,108705.0,109198.0,109550.0,109842.0,110479.0,111129.0,111776.0,112374.0,112889.0

In [7]:
#transformation 4 - getting the average of all home prices for each row
zillow_df['mean'] = zillow_df.mean(axis=1)
zillow_df

,StateName,2000-01-31,2000-02-29,2000-03-31,2000-04-30,2000-05-31,2000-06-30,2000-07-31,2000-08-31,2000-09-30,...,2021-02-28,2021-03-31,2021-04-30,2021-05-31,2021-06-30,2021-07-31,2021-08-31,2021-09-30,2021-10-31,mean
133,AK,144803.0,145008.0,145174.0,145313.0,145585.0,145692.0,146121.0,146116.0,146323.0,...,318885.0,318382.0,318027.0,319322.0,319754.0,320309.0,322165.0,324000.0,325833.0,257821.950382
228,AL,128167.0,128462.0,128747.0,129281.0,129672.0,129971.0,130292.0,130791.0,131559.0,...,249872.0,252151.0,255608.0,259193.0,265509.0,271196.0,277172.0,283551.0,290303.0,180036.267176
137,AL,111983.0,112095.0,112128.0,112248.0,112387.0,112618.0,112840.0,113069.0,113371.0,...,150048.0,151085.0,152270.0,153768.0,156036.0,158502.0,161182.0,163200.0,165145.0,129701.969466
648,AL,36017.0,36078.0,36130.0,36329.0,36501.0,36649.0,36677.0,36764.0,36873.0,...,60769.0,61460.0,61869.0,62127.0,62307.0,62575.0,63068.0,63727.0,64052.0,49207.057252
191,AL,111624.0,111853.0,112189.0,112626.0,112940.0,113103.0,113474.0,113980.0,114470.0,...,180064.0,181534.0,183416.0,185353.0,187428.0,189595.0,192308.0,194628.0,196713.0,144164.530534
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,WV,59470.0,59536.0,59561.0,59597.0,59666.0,59873.0,59978.0,60061.0,60085.0,...,101976.0,103128.0,103942.0,104738.0,105609.0,106286.0,106965.0,107648.0,108392.0,76641.984733
735,WV,30421.0,30591.0,30690.0,30824.0,31022.0,31124.0,31303.0,31292.0,31513.0,...,71895.0,72385.0,72768.0,73314.0,73430.0,73922.0,74435.0,75363.0,76082.0,51348.580153
363,WV,49016.0,48986.0,49070.0,49214.0,49403.0,49585.0,49926.0,50252.0,50547.0,...,83795.0,84544.0,85170.0,85730.0,86229.0,86680.0,87225.0,87854.0,88401.0,67048.103053
144,WV,64906.0,64944.0,65063.0,65284.0,65620.0,65852.0,66065.0,66307.0,66611.0,...,110215.0,111363.0,112131.0,112859.0,113672.0,114431.0,115245.0,115921.0,116593.0,86446.599237
395,WV,55216.0,55356.0,55507.0,55685.0,55836.0,55958.0,56089.0,56184.0,56265.0,...,108705.0,109198.0,109550.0,109842.0,110479.0,111129.0,111776.0,112374.0,112889.0,80090.568702

In [8]:
#transformation 5 - dropping all columns with home prices
zillow_df.drop(zillow_df.iloc[:, 1:263], axis=1, inplace=True)
zillow_df

    StateName           mean
133        AK  257821.950382
228        AL  180036.267176
137        AL  129701.969466
648        AL   49207.057252
191        AL  144164.530534
..        ...            ...
540        WV   76641.984733
735        WV   51348.580153
363        WV   67048.103053
144        WV   86446.599237
395        WV   80090.568702

[406 rows x 2 columns]

In [9]:
#transformation 6 - getting the average home price for each state
zillow_df.groupby(['StateName'], as_index=False).mean()

   StateName           mean
0         AK  257821.950382
1         AL  127903.708651
2         AR   92246.751696
3         AZ  206640.833697
4         CA  423760.657694
5         CO  311339.466343
6         CT  274586.882443
7         DC  366197.583969
8         DE  242098.229008
9         FL  186571.262995
10        GA  110303.178897
11        HI  526609.759542
12        IA  124366.944275
13        ID  166676.297710
14        IL  113644.191385
15        IN  135156.772265
16        KS  111926.923664
17        KY  114197.239981
18        LA  121596.767176
19        MA  331117.069248
20        MD  205667.082061
21        ME  174075.241412
22        MI  130501.405244
23        MN  174924.609415
24        MO  115971.797710
25        NC  159988.738422
26        NE  158190.734733
27        NH  214611.154962
28        NJ  240095.401718
29        NV  272804.034351
30        NY  131017.607176
31        OH  111637.477678
32        OK   83394.817196
33        OR  237196.886260
34        PA  138455.854144
35        RI  271775.732824
36        SC  203703.214695
37        TN  125756.064504
38        TX  142446.832909
39        UT  246854.946565
40        VA  172902.317271
41        VT  205377.600191
42        WA  249963.136859
43        WI  151036.380725
44        WV   84320.022901